@{
    ViewData["Title"] = "ProgramlarIndex";
    Layout = "~/Views/Shared/Programlar_Layout.cshtml";

    <!DOCTYPE html>
    <html lang="en">
    <head>
                

    </head>
    <body>
        <img src="~/images/progbackground.jpg" class="card-img-fluid" alt="..." style="width:1800px; height:934px;">
    </body>
    </html>

}


